:root{
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    /* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`. */
    --font-size: 18px;
    --font-family:"Hanken Grotesk", sans-serif;
    --font-w1:500;
    --font-w2:700;
    --font-w3:800;

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
}
body{
    background-color: var(--Pale-blue);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--White);
    height: 450px;
    width: 600px;
}
.profile_card{
    width: 50%;
    height: 100%;
    text-align: center;
    background: linear-gradient(180deg,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 30px;
    border-radius: 20px;
    color: var(--White);
}
.score_info p, .profile_card p{
    color: var(--Light-lavender);
}
.result_status{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(180deg,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result_status h1{
    font-size: 50px;
}
.result_status p{
    font-size: 14px;
}

.score_info{
    padding-inline: 20px;
}
.score_info h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.summary_card{
    width: 50%;
    height: 100%;
    padding-block: 40px;
    padding-inline: 30px;
    color: var(--Dark-gray-blue);
}
.summary_card h2{
    margin-bottom: 15px;

}
.card_status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card_status a{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--White);
    background-color: var(--Dark-gray-blue);
    text-decoration: none;
    margin-bottom: 40px;
}

.card_status a:hover{
    background: linear-gradient(0deg,hsla(241, 72%, 46%, 1),hsla(256, 72%, 46%, 0.80));
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
li{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding-inline: 10px;
}
.style_content_card{
    display: flex;
    gap: 5px;
    width: 50%;
}

.text_content_card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.text_content_card p{
    padding-inline: 5px;
    color: var(--Dark-gray-blue);
}

#red{
    color: var(--Light-red);
    background-color:hsla(0, 100%, 67%, 0.10);
}

#yellow{
    color: var(--Orangey-yellow);
    background-color: hsla(39, 100%, 56%, 0.10);
}

#green{
    color:var(--Green-teal);
    background-color:hsl(166, 100%, 37%,0.10); ;
}

#blue{
    color: var(--Cobalt-blue);
    background-color: hsl(234, 85%, 45%,0.10);;
}

.percent{
    font-weight: 900;
}