.flex_container_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
ul{
    list-style: none;
}


li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

li h2{
    font-size: 18px;
}

li p{
    font-size: 12px;
    letter-spacing: 2px;
}