:root{
    --Blue-600: hsl(185, 75%, 39%);
    --Navy-950: hsl(229, 23%, 23%);
    --Gray-500: hsl(227, 10%, 46%);
    --Gray-100: hsl(225, 10%, 92%);
    --font-size: 18px;
    --font-family:"Kumbh Sans", sans-serif;
    --navy-rgb: hsla(229, 23%, 23%, 0.349);

    font-size: var(--font-size);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Blue-600);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
   box-shadow: 10px 10px 10px var(--navy-rgb);

}

 .border_image{
    width: 100%;
    object-fit:contain;
    border-radius: 15px 15px 0 0 ;
}

.detail{
    background-color: var(--Gray-100);
    height: 1px;
    width: 400px;
}

.bg-wrapper {
    position: fixed; 
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.bg_image_1{
    position: absolute;
    width: 600px;
    height: 600px;
    top: -300px;
    left: -10px;
}

.bg_image_2{
    position: absolute;
    width: 700px;
    height: 700px;
    bottom: -400px;
    right: -50px;
}
