.profile_card{
    position: absolute;
}

.profile_card img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    left: 150px;
    bottom: 60px;
    border: 4px solid var(--Gray-100);
}